@charset "UTF-8";
/** Подключение цветов **/
/** Подключение стилей интерфейса **/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.bgcgray {
  background-color: #f7f7f7;
}

.line {
  width: 52px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}

.section__title {
  font-size: 46px;
  color: #454545;
  position: relative;
}

.section__title:after {
  content: '';
  bottom: -18px;
  left: 0;
  height: 3px;
  background-color: #ebebeb;
  width: 92px;
  position: absolute;
}

.up-text {
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
    margin: 0 5%;
  }
}

/** INDEX **/
.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
  height: 40px;
}

.nav-header__geo {
  margin-left: 35px;
  margin-right: 15px;
}

.nav-header__call-text, .nav-header__geo-text {
  margin-left: 15px;
  font-size: 15px;
}

.nav-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header__auth-login {
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  color: #000;
  text-decoration: none;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-header__auth-login:hover:after {
  content: '';
  background-color: black;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-block__img {
  padding-top: 18px;
  padding-bottom: 33px;
}

.nav-block__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-block__title {
  font-size: 31px;
  font-weight: 700;
}

.nav-block__subtitle {
  font-size: 14px;
}

.nav-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
}

.nav-block__link {
  font-weight: 700;
  text-decoration: none;
  color: #454545;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-block__link:hover {
  color: #c3759e;
}

.nav-block__link:hover:after {
  content: '';
  background-color: #c3759e;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  height: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
}

.nav-block__call-button {
  width: 45px;
  height: 45px;
  background-color: #c3759e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-block__call-button:hover {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #a44778;
}

/** Подключение главного экрана **/
.display {
  background-image: url("../img/main/display/fone.png");
  width: 100%;
  height: 916px;
  position: relative;
  z-index: 1;
}

.display:before {
  content: '';
  position: absolute;
  background-image: url("../img/main/display/woman.png");
  bottom: 0;
  left: 119px;
  width: 100%;
  max-width: 992px;
  height: 885px;
  z-index: -1;
}

.display-block {
  color: #fff;
}

.display-block__minititle {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
}

.display-block__text {
  padding-top: 300px;
  margin-left: 964px;
}

.display-block__title {
  margin: 0;
  font-weight: 700;
  font-size: 90px;
  margin-top: 10px;
  margin-bottom: 34px;
}

.display-block__subtitle {
  margin: 0;
  width: 484px;
  font-size: 16px;
  margin-bottom: 30px;
}

.display-block__button {
  font-weight: 700;
  color: #000;
  height: 50px;
  width: 206px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 25px;
  border: none;
}

.display-block__button:hover {
  background-color: #d4d4d4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

/** Подключение блока "О нас" **/
.description {
  margin-bottom: 100px;
}

.description-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.description-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-card__title {
  display: block;
  text-align: center;
  font-size: 25px;
  color: #454545;
  margin-bottom: 40px;
}

.description-card__subtitle {
  display: block;
  max-width: 372px;
  font-size: 15px;
  text-align: center;
  color: #939393;
  margin-bottom: 45px;
  margin-right: 25px;
  margin-top: 0;
}

.description-card__subtitle:last-child {
  margin-right: 0;
}

.description-card__link {
  text-decoration: none;
  font-size: 14px;
  color: #c3759e;
  position: relative;
}

.description-card__link:after {
  content: '';
  bottom: -10px;
  left: 18px;
  height: 2px;
  background-color: #c3759e;
  width: 44px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.description-card__link:hover:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0;
  height: 12px;
  width: 85px;
}

/** Подключение блока "Каталог" **/
.product {
  margin-top: 70px;
  -webkit-box-shadow: 1.8px 2.4px 9px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 1.8px 2.4px 9px 0 rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product:hover {
  background-color: #c3759e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product:hover .product__title, .product:hover .product__subtitle, .product:hover .product__cost-text, .product:hover .product__cost {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product:hover .line {
  color: white;
}

.product__title {
  font-weight: 700;
  color: #c3759e;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__subtitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #454545;
  font-size: 15px;
  margin-bottom: 23px;
}

.product__cost {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #c3759e;
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 30px;
}

.product__cost-text {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #454545;
  font-size: 15px;
}

.products {
  padding-bottom: 100px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #454545;
}

.products-header__button {
  font-size: 14px;
  font-weight: 700;
  color: #454545;
  background-color: #f7f7f7;
  padding: 0 23px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
}

.products-header__button:first-child {
  color: #fff;
  background-color: #c3759e;
}

/** Подключение блока "Информация" **/
.info {
  background-color: #282828;
}

.info-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-block__card {
  padding: 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__memory {
  font-size: 28px;
  color: #816890;
  font-weight: 700;
  margin: 23px 0 20px;
}

.info-block__subtitle {
  font-size: 20px;
  color: #fff;
}

/** Подключение блока "Констультация" **/
.conslut-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.conslut-flex__title {
  font-size: 41px;
  color: #454545;
  margin: 0;
  margin-bottom: 25px;
}

.conslut-flex__button-call, .conslut-flex__button-sign {
  width: 206px;
  height: 49px;
  font-size: 14px;
  color: #fff;
  border-radius: 25px;
  border: none;
}

.conslut-flex__button-call {
  background-color: #c3759e;
  margin-right: 23px;
  margin-left: 40px;
}

.conslut-flex__button-sign {
  background-color: #816890;
}

.flex-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
}

.flex-texts {
  padding-top: 60px;
  padding-bottom: 50px;
}

/** Подключение блока "footer" **/
.footer {
  background-color: #816890;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 100px;
}

.footer-block__subtitle {
  font-size: 15px;
  color: #fff;
  max-width: 270px;
  display: block;
  margin-top: 45px;
}

.footer-block__icons {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 13px;
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-top: 75px;
}

.footer-header__title {
  font-size: 25px;
  color: #fff;
  margin: 0;
}

.footer-header__subtitle {
  font-size: 11px;
  color: #fff;
}

.footer-second {
  width: 250px;
}

.footer-second__title {
  padding-top: 85px;
  padding-bottom: 53px;
  font-weight: 400;
  margin: 0;
  font-size: 36px;
  color: #fff;
}

.footer-second__subtitle {
  width: 170px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.footer-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 120px;
}

.footer-text__flex {
  width: 170px;
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author {
  color: #fff;
  font-size: 15px;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: right;
}
/*# sourceMappingURL=style.css.map */