*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

  
input
  outline: none

img
  max-width: 100%
  
body
  margin: 0
  padding: 0

.bgcgray
  background-color: $gray-color

@mixin reg 
  font-weight: 400


@mixin bold 
  font-weight: 700

.section
  &__title
    font-size: 46px
    color: $text-color
    position: relative
    &:after
      content: ''
      bottom: -18px
      left: 0
      height: 3px
      background-color:#ebebeb
      width: 92px
      position: absolute

.up-text
  text-transform: uppercase

.button
  background-color: $main-color
  
.container
  width: 1200px
  margin: 0 auto

@media (max-width: 1200px)
  .container
    width: 760px
    

@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%
    margin: 0 5%
