*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif


  
input
  outline: none

img
  max-width: 100%
  
body
  margin: 0
  padding: 0

.bgcgray
  background-color: $gray-color

@mixin reg 
  font-weight: 400


@mixin bold 
  font-weight: 700

.line
  width: 52px
  height: 2px
  margin: 0 auto
  margin-bottom: 20px
  background-color: $gray-color



.section
  &__title
    font-size: 46px
    color: $text-color
    position: relative
    &:after
      content: ''
      bottom: -18px
      left: 0
      height: 3px
      background-color:#ebebeb
      width: 92px
      position: absolute
  &__link
    text-decoration: none
    font-size: 14px
    color: $main-color
    position: relative
    &:after
      content: ''
      bottom: -10px
      left: 18px
      height: 2px
      background-color: $main-color
      width: 44px
      position: absolute
      transition: 0.5s
    &:hover
      &:after
        transition: 0.5s
        left: 0
        height: 12px
        width: 85px

@media (max-width: 1200px)
  .section
    &__title
      font-size: 40px

.up-text
  text-transform: uppercase

.container
  width: 1200px
  margin: 0 auto

@media (max-width: 1200px)
  .container
    width: 760px
    

@media (max-width: 768px)
  .container
    width: 80%
    margin: 0 10%
