.conslut
  &-block
    display: flex
  &-flex
    &__title
      font-size: 41px
      color: $text-color
      margin: 0
      margin-bottom: 25px
    &__button
      &-call, &-sign
        width: 206px
        height: 49px
        font-size: 14px
        color: #fff
        border-radius: 25px
        border: none
      &-call
        background-color: $main-color
        margin-right: 23px
        margin-left: 40px
      &-sign
        background-color: $darken-main-color
    


.flex
  &-buttons
    display: flex
    padding-top: 70px
  &-texts
    padding-top: 60px
    padding-bottom: 50px