.info
  background-color: #282828
  &-block
    &__cards
      display: flex
      justify-content: space-between
    &__card
      padding: 130px 0
      display: flex
      flex-direction: column
      align-items: center
    &__memory
      font-size: 28px
      color: $darken-main-color
      +bold
      margin: 23px 0 20px
    &__subtitle
      font-size: 20px
      color: #fff