.nav
  &-header
    display: flex
    align-items: center
    justify-content: space-between
    color: #000
    height: 40px
    &__geo
      margin-left: 35px
      margin-right: 15px
    &__call-text, &__geo-text
      margin-left: 15px
      font-size: 15px
    &__info
      display: flex
    &__auth
      &-login
        font-weight: 700
        margin-left: 10px
        margin-right: 10px
        color: #000
        text-decoration: none
        position: relative
        transition: 0.5s
        &:hover
          &:after
            content: ''
            background-color: black
            left: 0
            bottom: -3px
            width: 100%
            height: 2px
            transition: 0.5s
            position: absolute
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    &__img
      padding-top: 18px
      padding-bottom: 33px
    &__logo
      display: flex
      align-items: center
    &__title
      font-size: 31px
      +bold
    &__subtitle
      font-size: 14px
    &__menu
      display: flex
      grid-gap: 20px
    &__link
      +bold
      text-decoration: none
      color: $text-color
      position: relative
      transition: 0.2s
      &:hover
        color: $main-color
        &:after
          content: ''
          background-color: $main-color
          width: 50%
          left: 50%
          transform: translateX(-50%)
          bottom: -10px
          height: 2px
          transition: 0.2s
          position: absolute
    &__call-button
      width: 45px
      height: 45px
      background-color: $main-color
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      transition: 0.5s
      &:hover
        cursor: pointer
        transition: 0.5s
        background-color: darken($main-color, 15%)
    

@media (max-width: 1200px)	
  .nav-block
    &__menu
      display: none


@media (max-width: 992px)		
  .nav-header
    &__geo, &__geo-text
      display: none

@media (max-width: 567px)		
  .nav-header
    &__info
      display: none
  .nav-block
    &__title
      font-size: 27px
    &__subtitle
      font-size: 14px