.news-blocks
  display: flex
  flex-direction: row
  flex-basis: 50%

.news
  background-color: $gray-color
  display: flex

.ournews-block

.ournews-cards
  display: flex
  grid-gap: 26px

.ournews-card
  background-color: #fff
  display: flex
  padding-left: 30px
  flex-direction: column
  max-width: 280px
  margin: 56px 0
  position: relative
  &__link
    max-width: 200px
    display: block
    margin-bottom: 50px
  &__image
    padding: 30px 30px 0 0
    margin: 0
  &__title
    width: 200px
    font-size: 22px
    margin-top: 34px
    margin-bottom: 26px
  &__subtitle
    margin: 0
    font-size: 14px
    width: 166px
    color: $gray-text
    padding-bottom: 43px

.cercle
  border-radius: 50%
  background-color: #c3759e
  width: 72px
  height: 72px
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  color: #fff
  position: absolute
  margin-top: -24px
  margin-left: -7px
  +bold
  &__count
    font-size: 30px
  &__data
    font-size: 14px
    

.announc-block
  margin-left: 27px

.video-block
  width: 587px
  height: 486px
  background-color: #fff
  padding-top: 30px
  display: flex
  flex-direction: column
  align-items: center
  &__info-text
    display: flex
    flex-direction: column
    align-items: center
    grid-gap: 30px
  &__name
    +bold
    font-size: 22px
  &__title
    font-size: 14px
    width: 200px
    color: $gray-text
  &__video-img
    width: 528px
    height: 328px
  &__soc-panel
    width: 196px
    border-radius: 20px
    height: 50px
    margin-top: -25px
    background-color: #fff
    display: flex
    justify-content: center
    grid-gap: 13px
    align-items: center
    vertical-align: middle
    &__icon
      margin-top: 3px

@media (max-width: 1400px)	
  .video-block__video-img
    width: 370px
  .video-block__soc-panel
    margin-top: -120px
  .video-block 
    margin-top: 90px
    width: 420px
    height: 437px

@media (max-width: 1200px)	
  .video-block__video-img
    width: 300px
  .video-block__soc-panel
    margin-top: -165px
  .video-block 
    width: 350px

@media (max-width: 992px)	
  .news-blocks
    flex-direction: column
  .video-block
    margin-bottom: 30px
  .announc-block
    margin-left: 0

@media (max-width: 567px)
  .ournews-cards
    flex-direction: column